body {
    background-image: url(images.jfif);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.titulo-principal {
    font-family: 'Syne Mono', monospace;
}

.carrosel-img-01 {
    object-fit: cover;
    object-position: 0 0;
    height: 500px;
}

.carrosel-img-02 {
    object-fit: cover;
    height: 500px;
}

footer {
    background-color:rgb(0, 0, 0);
    text-align: center;

}

.texto-footer {
    color: white;
}